src/main/mule/implementation/Updatecustomerinfo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="4e19f8a2-fba6-4b81-bbef-28d22d10eea1" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Subha@123" database="Subhashini" />
	</db:config>
	<flow name="UpdatecustomerinfoFlow" doc:id="16e5766e-cc8f-4fb0-8a36-645839223e5b" >
		<logger level="INFO" doc:name="Logger" doc:id="f8ce47d4-2f4f-42f9-ae81-5a1c7faa1c0a" />
		<db:update doc:name="Updatecustomerinfo" doc:id="880ad3b3-c006-4c9a-8998-0045485d5f5b" config-ref="Database_Config">
			<db:sql ><![CDATA[update customer set customer_name=:customer_name where customer_id=:customer_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
customer_name: attributes.uriParams.customer_name,
customer_id: attributes.uriParams.customer_id
}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="0296ebac-7b0e-4949-af35-d8dad7b4ee27" message="Customer info updated successfully..."/>
	</flow>
</mule>
