subhatransaformation/src/main/mule/lookupfunctionflow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="lookupfunctionflow" doc:id="14905347-2f37-4379-9648-4a705a77b872" >
		<http:listener doc:name="Listener" doc:id="cfe9d8d9-4d37-435a-b3d9-05cf4223ff96" config-ref="HTTP_Listener_config" path="/lookupfunction"/>
		<choice doc:name="countryname" doc:id="4476d46b-ab89-4619-9fd3-3754345ed213" >
			<when expression="#[payload=='us']">
				<set-payload value="72" doc:name="Set Payload" doc:id="4dc5a699-d51e-4bfc-bdb9-d68da39ac184" />
			</when>
			<when expression="#[payload=='uk']">
				<set-payload value="79" doc:name="Set Payload" doc:id="0207754f-97f9-4b2a-a3a1-e340652a4ffd" />
			</when>
			<otherwise >
				<set-payload value="100" doc:name="Set Payload" doc:id="4856b206-f10d-4460-a2fb-7cb144373099" />
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="b9f504b3-262b-439a-9798-f43a9e0bd192" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="filereadingfun" doc:id="8767f986-ad2d-46f9-9b98-caefee5c877f" >
		<http:listener doc:name="Listener" doc:id="af1bcc70-3590-44de-b629-d9f7b2f10616" config-ref="HTTP_Listener_config" path="/filereading"/>
		<ee:transform doc:name="Transform Message" doc:id="f0f00f67-5d4d-4a57-8c47-a1b32211021a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::Runtime
output application/json
//var cities=readUrl("classPath://examples/cities.json","application/json")
//var statefile=try(()->readUrl("classPath://examples/states.json","application/json")).result
//var states=readUrl("classPath://examples/states.json","application/json")
//fun getstates(statename)=(statefile filter $.name==statename)

fun getstates(filename)=(try(()->readUrl("classPath://examples/" ++ filename,"application/json")).result)
// try(()->readUrl("classPath://examples/" ++ filename,"application/json"))
---
//cities
//payload

//getstates("Alabama")
//getstates("cities.json")
//states filter $.name=="California"

//statefile.result
//cities map
//{ 
//	cityname:$.city_name,
//	state:getstates($.state_name)
//	
//}
//getstates("states.json")
getstates(attributes.queryParams.file)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="errorblock" doc:id="bd2e690e-90d0-4834-97a9-1e49bd7caaf1" >
		<http:listener doc:name="Listener" doc:id="9bb8b5f7-d8d8-41b9-8d09-373921f2714d" config-ref="HTTP_Listener_config" path="/errorblock"/>
		<try doc:name="Try" doc:id="50499484-0937-4542-8ac2-03e4bf132aad" >
			<validation:is-null doc:name="Is null" doc:id="b5bc38e6-c8dc-45c3-af20-bbd834e974ba" value="payload" message="null value"/>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="028f6f58-149d-42ee-8756-052739ff73bb" >
					<set-payload value="error propagtion executed" doc:name="Set Payload" doc:id="01b0190f-ae92-45a7-970c-5bf00d8ac877" />
				</on-error-propagate>
			</error-handler>
		</try>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="cb891bd3-6528-41da-8421-5f1688b469fe" >
				<set-payload value="error continution" doc:name="Set Payload" doc:id="a34e8522-c779-400b-896d-932e12eaba9d" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="filters" doc:id="bd41ffd0-e21a-4039-abb0-416d1bfcc12d" >
		<http:listener doc:name="Listener" doc:id="51df42e8-49d4-49c5-8a12-1a3118a8f00c" config-ref="HTTP_Listener_config" path="/filters"/>
		<ee:transform doc:name="Transform Message" doc:id="4f5310b8-ed73-4893-9e06-6ddab3c37b2a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	
  currentdate:now(),
  localtime:(now()>>'PST') as Time,
 local: now() as localdatetime
 
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	
	
</mule>
